// Variables
$font-color: #444444;
$oragne: #f47920;
$white: #ffffff;
$white: #fff;
$icon-green: #90e794;
$icon-orange: #f39958;
$error-red: #f44336;

$green: #198754;

$base-color: #ced4da;
$light-background: lighten(desaturate($base-color, 50%), 12.5%);
